.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th{
    background-color: #dd01dd;
    color: #ffffff;
}

.TabelaProdutos .Par{
    background-color: #ddd;
}

.TabelaProdutos .Impar{
    background-color: #bbb;
}